# Dev
/.clj-kondo/.cache
/.cpcache
/.lsp
/.nrepl-port
/target

# Binaries
/bin/bb
/bin/docker-compose

# Data and wallets
/data
/wallets
!/wallets/arweave/.gitkeep

# Configuration
/config/strongpool.edn
