{:paths ["src"]
 :tasks
 {:requires ([net.strongpool.node-tasks :as node-tasks])
  start
  {:doc "Start the node"
   :task (node-tasks/start)}

  stop
  {:doc "Stop the node"
   :task (node-tasks/stop)}

  logs
  {:doc "Display logs for the node"
   :task (node-tasks/logs)}}}
