{:paths ["src" "test" "vendor/expound/src" "vendor/spartan.spec/src"]
 :deps {babashka/fs {:mvn/version "0.0.5"}
        babashka/process {:mvn/version "0.0.2"}}
 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.861"}}}}}
