#kaocha/v1
{:tests [{:id                  :unit
          :source-paths        ["src"]
          :ns-patterns         [".*"]
          :test-paths          ["src"]}
         {:id                  :features
          :type                :kaocha.type/cucumber
          :source-paths        ["src"]
          :test-paths          ["test/features"]
          :cucumber/glue-paths ["test/features/step_definitions"]}]
 :plugins [:kaocha.plugin/notifier]}
